:root {
  --background-night-color: rgb(26, 27, 38);
  --background-storm-color: rgb(36, 40, 59);
  --green-color: rgb(158, 206, 106);
  --black-color: #1d1d1b;
  --red-color: #e94b59;
  --blue-color: rgb(122, 162, 247);
  --light-blue-color: #33b3e2;
  --cyan-color: rgb(125, 207, 255);
  --sky-blue-color: #ccecf8;
  --turquoise-color: rgb(180, 249, 248);

  --transition: 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("../assets/fonts/JetBrainsMonoNerdFontPropo-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/JetBrainsMonoNerdFontPropo-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("../assets/fonts/JetBrainsMonoNerdFontPropo-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/JetBrainsMonoNerdFontPropo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("../assets/fonts/JetBrainsMonoNerdFontPropo-ExtraBold.woff2")
      format("woff2"),
    url("../assets/fonts/JetBrainsMonoNerdFontPropo-ExtraBold.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-extrabold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

html {
  background-color: var(--background-night-color);
  font-size: 17px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", Tahoma, sans-serif;
  font-weight: 400;
  color: var(--sky-blue-color);
  line-height: 1.55rem;
  max-width: 100vw;
  margin: auto;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  margin: 8% auto;
  padding: 0;
  width: 100%;
  height: 15rem;
  line-height: 1rem;
}

#head {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 8rem;
  gap: 1.5em;
  margin: 8% 0 0;
}

#title {
  text-align: center;
  font-size: 3rem;
  color: var(--sky-blue-color);
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", Tahoma, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 5px 5px var(--background-storm-color),
    4px 4px var(--background-storm-color), 3px 3px var(--background-storm-color),
    2px 2px var(--background-storm-color), 1px 1px var(--background-storm-color);
  margin-bottom: 0;
}

.dot {
  color: var(--light-blue-color);
  text-shadow: none;
}

.ar {
  color: var(--red-color);
}

h2 {
  color: var(--green-color);
}

#subtitle {
  text-align: center;
  vertical-align: top;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.3em;
  color: var(--red-color);
  font-weight: 800;
  line-height: 1.5em;
}

#header-img {
  width: 3em;
  height: 3em;
}

#nav-bar {
  font-size: 0.85em;
  text-align: center;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  position: fixed;
  top: 0.5em;
  left: 0;
  right: 0;
}

#nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 1ch;
  max-width: 20%;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sky-blue-color);
  border: none;
  border-radius: 0.4em;
  box-shadow: 0 1px 1px 0 rgba(var(--background-storm-color), 0.1),
    0 0.2em 1.2em -0.4em rgba(var(--background-storm-color), 0.2),
    0 0.4em 2em -0.8em rgba(var(--background-storm-color), 0.3),
    0 0.4em 0.4em -0.8em rgba(var(--background-storm-color), 0.4),
    0 0.8em 0.8em -1.2em rgba(var(--background-storm-color), 0.5),
    0 1.2em 1.2em -1.6em rgba(var(--background-storm-color), 0.6);
  color: var(--background-night-color);
  cursor: pointer;
  font-weight: 800;
  height: 2.4em;
  font-size: 0.8em;
  line-height: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background var(--transition), color var(--transition);
}

.nav-link:hover {
  color: var(--background-night-color);
  background: var(--green-color);
}

.section:not(#video),
.section:not(#pricing) {
  margin: 5%;
}

#video {
  aspect-ratio: 16/9;
  border: none;
  border-radius: 0.4em;
  box-shadow: 0 0 0 1px rgba(var(--background-storm-color), 0.3),
    0 0.3em 2em -1.2em rgba(var(--background-storm-color), 0.1),
    0 0.6em 2.4em -1.6em rgba(var(--background-storm-color), 0.2),
    0 0.9em 2.8em -2em rgba(var(--background-storm-color), 0.3),
    0 1.2em 3.2em -2.4em rgba(var(--background-storm-color), 0.4),
    0 1.5em 3.6em -2.8em rgba(var(--background-storm-color), 0.5);
  width: 100%;
  margin: 0 auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.functions li::marker {
  color: var(--red-color);
  font-weight: 800;
}

.packs li {
  list-style: none;
  position: relative;
  padding-left: 0.85em;
}

.packs li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -8.35%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url("../assets/images/volleyball-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.pack-name {
  font-weight: 800;
  text-transform: uppercase;
  color: var(--red-color);
  margin-left: -1.5%;
}

#form label {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 4em;
}

#email {
  display: inline-block;
  border: none;
  border-radius: 0.4em;
  max-width: 12.24em;
  height: 1.5em;
  line-height: 1.1em;
  text-align: center;
  color: var(--background-night-color);
  background-color: var(--green-color);
  box-shadow: 0 1px 1px 0 rgba(var(--background-storm-color), 0.1),
    0 0.2em 1.2em -0.4em rgba(var(--background-storm-color), 0.2),
    0 0.4em 2em -0.8em rgba(var(--background-storm-color), 0.3),
    0 0.4em 0.4em -0.8em rgba(var(--background-storm-color), 0.4),
    0 0.8em 0.8em -1.2em rgba(var(--background-storm-color), 0.5),
    0 1.2em 1.2em -1.6em rgba(var(--background-storm-color), 0.6);
  transition: background-color var(--transition), color var(--transition);
  vertical-align: middle;
}

#email::placeholder {
  color: var(--background-storm-color);
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", Tahoma, monospace;
}

#email:focus,
#email:active,
#email:hover {
  background-color: var(--sky-blue-color);
}

#email:focus::placeholder,
#email:active::placeholder,
#email:hover::placeholder {
  color: var(--sky-blue-color);
}

#submit {
  color: var(--background-night-color);
  border: none;
  border-radius: 0.4em;
  background-color: var(--sky-blue-color);
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", Tahoma, monospace;
  box-shadow: 0 1px 1px 0 rgba(var(--background-storm-color), 0.1),
    0 0.2em 1.2em -0.4em rgba(var(--background-storm-color), 0.2),
    0 0.4em 2em -0.8em rgba(var(--background-storm-color), 0.3),
    0 0.4em 0.4em -0.8em rgba(var(--background-storm-color), 0.4),
    0 0.8em 0.8em -1.2em rgba(var(--background-storm-color), 0.5),
    0 1.2em 1.2em -1.6em rgba(var(--background-storm-color), 0.6);
  cursor: pointer;
  font-weight: 800;
  height: 1.6em;
  line-height: 1.1em;
  padding-left: 1em;
  padding-right: 1em;
  transition: background var(--transition), color var(--transition),
    text-transform var(--transition);
  vertical-align: middle;
  margin-left: 0.2em;
}

#submit:hover,
#submit:focus {
  color: var(--background-night-color);
  background: var(--green-color);
  text-transform: uppercase;
}

#submit:active {
  text-transform: uppercase;
  background: var(--background-storm-color);
  color: var(--green-color);
}

@media (min-width: 576px) {
  #header-img {
    width: 3.5em;
    height: 3.5em;
  }
}

@media (min-width: 768px) {
  #title {
    font-size: 3.55rem;
  }

  #header-img {
    width: 4em;
    height: 4em;
  }

  #video {
    width: min(100%, 90em);
  }

  .section:is(#pricing),
  .section:not(#video) {
    margin: 5% 15% 5% 20%;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 80vw;
  }

  #head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 8rem;
    gap: 1.5em;
    margin: 0 auto;
  }

  #title {
    font-size: 4.55rem;
  }

  #header-img {
    width: 5em;
    height: 5em;
  }

  .packs li {
    padding-left: 24px;
  }

  .packs li::before {
    margin-left: -4.05%;
    line-height: 2rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  #title {
    font-size: 5.55rem;
  }

  #header-img {
    width: 6em;
    height: 6em;
  }
}
